/* ProductsList.css */

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.product-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
}

.product-item h2 {
  margin-top: 0;
}

.product-item img {
  max-width: 100%;
  border-radius: 8px;
}

.product-item p {
  margin-bottom: 10px;
}

.product-item button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.product-item button:hover {
  background-color: #0056b3;
}


/* HomePage.css */

/* HomePage.css */

.homepage-container {
  text-align: center;
  padding: 50px;
}

.homepage-heading {
  font-size: 2rem;
  margin-bottom: 20px;
}

.homepage-text {
  font-size: 1.2rem;
  color: #666;
}

.homepage-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 20px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.homepage-button:hover {
  background-color: #0056b3;
  color: #fff;
}
